<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

  

  <ion-content style="background-color:#FA8185" >
   <div style="height: 50px;margin-left: 10px;margin-top: 20px;">
   	<a href="#/home/home"><i class="ion-chevron-left whitecolor fontsize64"></i></a>
   </div>
  
  <div align="center" style="background-color:#59C0C7;">
  	
  	<img src="img/slice1_03.gif" />
  	<br>
  	<br>
  
  
  </div>
  
  <div align="center" >  
  		<br><p></p>
	  	<div align="center" class="source_sans_proregular whitecolor" style="width:74%;font-size: 16px;">
	  	Appen för hyrerätter är på gång!
	  	<br><p></p>
	    </div>
	    <div align="center" class="source_sans_proregular whitecolor" style="width:70%;font-size: 12px;">
	  	Kolla in www.bostadsappen.se för mer information. 
		<br>
		På hemsidan kan du också lämna din email och få ett meddelade så fort appen ar lanseras. 
	    </div>
	    
 </div>

    
    
   
  </ion-content>

