<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-view >
	

  <ion-content style="background-color:#59C0C7" >
  <div style="height:500px;"></div>
  <div align="center" style="background-color:#59C0C7;">
  	
  	<img src="img/slice1_03.gif" />
  	<br>
  	<br>
  
  	<div class="ha_login_button" > <a href="#/tab/dash"> <img src="img/login_btn.png" /> </a> </div>
  </div>
  
  <div align="center" >  <div align="center" style="position:relative;top:90px; width: 80%; height: 50px;border-top:2px  solid #E1EFE1 ;">
  	<a class="linka" href="#/home/second" > Om hyreslägenhet</a>
  </div>
 </div>

    
    
   
  </ion-content>
</ion-view>
