<ion-view  >
	

  <ion-content style="background-color:#59C0C7" >
  <div style="height:100px;"></div>
  <div align="center" style="background-color:#59C0C7;">
  	
  	<img src="img/slice1_03.gif" />
  	<br>
  	<br>
  
  	<div class="ha_login_button" > <a href="#/states"> <img src="img/login_btn.png" /> </a> </div>
  </div>
  
  <div align="center" >  <div align="center" style="position:relative;top:90px; width: 80%; height: 50px;border-top:2px  solid #E1EFE1 ;">
  	<a class="linka" href="#/rented/rented" > Om hyreslägenhet</a>
  </div>
 </div>

    
    
   
  </ion-content>
</ion-view>
