  <ion-content id="main" class="padding center-content" has-header="false" padding="false" >
    <div class="row row-center">
      <div class="col col-center">
        
        <a id="landinglink" href="#login" > </a>
        <ul id="gosocial">
          <li><a href="javascript:;" ng-click="login('linkdin')" id="lin"></a></li>
          <li><a href="javascript:;" ng-click="facebookLogin()" id="facebook"></a></li>
          <li><a href="javascript:;" ng-click="login('twitter')" id="twitter"></a></li>
        </ul>
      </div>
    </div>
    <a href="#/signup"> Sign Up </a>
  </ion-content>
