
  <ion-content class="padding center-content" has-header="false" padding="false" >
    <!-- <div class="row row-center">
      <div class="col col-center">
        You need to login
      </div>
    </div> -->
    <div class="row row-center">
      <div class="col col-center">
        
        <a id="landinglink" href="#login" > </a>
        <ul id="gosocial">
          <li><a href="#tab/profile/2" id="lin"></a></li>
          <li><a href="#tab/profile/2" id="facebook"></a></li>
          <li><a href="#tab/profile/2" id="twitter"></a></li>
        </ul>
        <!-- <a id="loginbtn" href="#tab/profile/2" class="button"> Login </a> -->

      </div>
    </div>
  </ion-content>
