
  <ion-content class="padding center-content" has-header="false" padding="false" ng-controller="LoginCtrl">
    <!-- <div class="row row-center">
      <div class="col col-center">
        You need to login
      </div>
    </div> -->
    <div class="row row-center">
      <div class="col col-center">
        
        <a id="landinglink" href="#login" > </a>
        <ul id="gosocial">
          <li><a href="javascript:;" ng-click="login('linkdin')" id="lin"></a></li>
          <li><a href="javascript:;" ng-click="facebookLogin()" id="facebook"></a></li>
          <li><a href="javascript:;" ng-click="login('twitter')" id="twitter"></a></li>
        </ul>
        <!-- <a id="loginbtn" href="#tab/profile/2" class="button"> Login </a> -->

      </div>
    </div>
  </ion-content>
