<ion-view title="Create">
  <ion-content class="padding">
    <div id="profile-event">
        <div id="profile" class="row">
      		<div class="col">
      			<img ng-src="./profile-pics/kate.jpg" alt="" src="./profile-pics/kate.jpg">
      		</div>
    	  	<div class="col col-75">
    		  	<h3 class="ng-binding">Event Preferences</h3>    		  	
    		  	<h4 class="ng-binding">Please set your  event preferences here</h4>    			  
    		</div>  
      </div>  
	 </div> 
   <div class="mainwrapper">
      <div>
       <h3 id="agegroup">Age Group</h3>
      </div> 
      <div class="list">
         <div class="item range range-positive">
            <i class="icon ion-ios7-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios7-sunny"></i>
         </div>
     </div>
     <div class="topwrap">
			 <h3  id="agegroup">Would you like to meet</h3>
		     <div class="wrap">
				 <ul class="threecircle">
				 	<li class="circleinn"><a  href="">Men</a></li>
				 	<li class="circleinn"><a  href="">Women</a></li>
				 	<li class="anyone"><a id="any" href="">Anyone</a></li>
				 </ul>
		     </div>	 
    </div>  
	<div class="topwrap">
			 <h3  id="agegroup">Would you like to invite any friends</h3>
		     <div class="wrap1">
				 <ul class="threecircle">				 	
				 	<li class="anyone1"><a id="any" href="">1hr</a></li>
				 	<li class="circleinns"><a id="any" href="">No</a></li>
				 </ul>
		     </div>	 
    </div>   
        <h3  id="agegroup">Would you like to invite any friends</h3>
		     <div class="wrap1">
				 <ul class="threecircle">				 	
				 	<li class="anyone1"><a id="any" href="">1hr</a></li>
				 	<li class="circleinns"><a id="any" href=""></a></li>
				 </ul>
		     </div>	 


    <!-- <div class="card">
	  <div class="item item-text-wrap">
	    <h2 class="agefine">Would you like to invite any friends</h2>
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
	      <h2 class="agefine">Would you like to send personal invites</h2>
	</div>  -->

  </ion-content>
</ion-view>

