<ion-view title="Settings">
  <ion-content class="padding">
    <div id="profile-event">
        <div id="profile" class="row">
      		<div class="col">
      			<img ng-src="./profile-pics/kate.jpg" alt="" src="./profile-pics/kate.jpg">
      		</div>
    	  	<div class="col col-75">
    		  	<h3 class="ng-binding">Kate Preferences</h3>    		  	
    		  	<h4 class="ng-binding">Please set your Preferences here</h4>    			  
    		</div>  
      </div>  
	 </div> 
   <div class="mainwrapper">
      <div>
       <h3 id="agegroup">Age Group</h3><p id="para">Please select the desired age-group of the people you would like to meet.</p>
      </div> 
      <div class="list">
         <div class="item range range-positive">           
            <span id="ageleft">18</span> <input type="range" name="volume" min="0" max="100" value="33">
            <span id="ageright">60</span>
         </div>
     </div>
     <div class="topwrap topwarp1">
			 <h3  id="agegroup">Would you like to meet</h3>
		     <div class="wrap">
				 <ul class="threecircle">
				 	<li class="circleinn"><a id="men1" href="">Men</a></li>
				 	<li class="circleinn"><a  href="">Women</a></li>
				 	<li class="anyone"><a id="any" href="">Anyone</a></li>
				 </ul>
		     </div>	 
    </div>  

     <div class="list">
         <div class="item range range-positive">
         <i><span id="distance">Distance</span></i>           
            <span id="kmleft">0km</span> <input type="range" name="volume" min="0" max="100" value="33">
            <span id="kmright">80km</span>
         </div>
     </div>

  </ion-content>
</ion-view>
