<ion-view title="EventDetail">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion ion-ios7-email"></button>
    </ion-nav-buttons>
  <ion-content class="">
    <div id="profile-wrapper">
        <div id="profile" class="row">
          <div class="col">
            <img ng-src="{{profileimage}}" alt="" src="{{profileimage}}">
          </div>
          <div class="col col-75">
            <h3 class="ng-binding">Events</h3>            
            <h4 class="ng-binding">Find out some exciting people nearby</h4>
            <br/>
        </div>  
      </div>  
  </div> 
  <div id="MainWrapper">
  <div class="CreateEventMain">
    <div class="EventDetailMain">
      <h2> Choose your friends for the event </h2>
      <div class="slider_main">
        <ul id="mycarousel" class="jcarousel-skin-ie7">
          <li>
            <div class="main_inner_slide"><a href="javascript:;" title="image"><img src="img/SliderImg2.png"   alt="image" />
              <p class="slider_text">hello</p>
              </a></div>
          </li>
          <li>
            <div class="main_inner_slide"> <a href="javascript:;" title="image"><img src="img/SliderImg2.png"   alt="image" />
              <p class="slider_text">hello</p>
              </a></div>
          </li>
          <li>
            <div class="main_inner_slide"> <a href="javascript:;" title="image"><img src="img/SliderImg2.png"  alt="image" />
              <p class="slider_text">hello</p>
              </a></div>
          </li>
          <li>
            <div class="main_inner_slide"> <a href="javascript:;" title="image"><img src="img/SliderImg2.png"  alt="image" />
              <p class="slider_text">hello</p>
              </a></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="MessagePartnerMain">
      <h2> Message Partner </h2>
      <div class="MessagePartner">
        <textarea id="Message" class="Message"></textarea>
      </div>
    </div>
    <div class="clear"></div>
    <hr />
  </div>
</div>
<div class="clear"></div>
</div>
  </ion-content>
</ion-view>
