<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="My Profile"><div class="ion-email"></div>
  <ion-content >
      <div id="profile-wrapper">
        <div id="profile" class="row">
         
      		
           <form id="btnpup" class="form-horizontal source_sans_prosemibold" id="profileform" enctype="multipart/form-data">  
          <div class="col relative" >
            <img id="imgprofile" ng-src="{{profile.user_url}}" alt="" />
            <input type="file" class="file-upload" file-model="profileFile" id="profileupload" onchange="angular.element(this).scope().uploadprofilepic(this)"  />
          </div>
        </form>
         
    	  	<div class="col col-75">
    		  	<h3 id="user_name">{{profile.user_name}} 

              <img class="editpencil" ng-src="./img/edit_pencil.png" ng-click="showtext('user_name')"></h3>

            <h3 class="edittext" id="user_name_text"><input ng-blur="updatedata('user_name')" type="text" ng-model="profile.user_name"></h3>

    		  	

    		  	<h4 id="user_description">

              {{profile.user_description}}

              <img ng-click="showtext('user_description')" class="editpencil" ng-src="./img/edit_pencil.png">
            </h4>

            <h4 id="user_description_text" class="edittext" id="user_name_text"><input ng-blur="updatedata('user_description')" type="text" ng-model="profile.user_description"></h4>
    			  <br/>
    		  <span class"pull-right">{{profile.user_age}}</span>
    		</div>  
      </div>  
	</div>
  <form class="form-horizontal source_sans_prosemibold" id="profileform" enctype="multipart/form-data">  
  <div id="friend-list" class="row">
    
      <!-- <div class="col relative one-third"> -->
      <div class="col relative">
         
          <img ng-src="./profile-pics/upload.png" alt=""  />
          <input type="file" class="file-upload" file-model="myFile" id="assologo" onchange="angular.element(this).scope().uploadupdatelogo(this)"  />
</div>
       
      
  	    
   
  	<!-- <div class="col"><a><img ng-src="./profile-pics/p1.jpg" alt="" /></a></div>
  	<div class="col"><a><img ng-src="./profile-pics/p2.jpg" alt="" /></a></div> -->  	
    
  </div>
  </form>

  <div class="row">
    <h2 id="style">My Style <img ng-click="showtextstylelocation('user_bio')" class="editpencil" ng-src="./img/edit_pencil.png"></h2>
    <h3 id="style">Location <img ng-click="showtextstylelocation('user_location')" class="editpencil" ng-src="./img/edit_pencil.png"></h3>
    </div>
    <div class="row">
       <p id="smile" class="showlocbio">{{profile.user_bio}} , {{profile.user_location}} </p>

       <p id="smile" class="user_bio"><input ng-blur="updatestylelocation('user_bio')" type="text" ng-model="profile.user_bio"></p>

       <p id="smile" class="user_location"><input ng-blur="updatestylelocation('user_location')" type="text" ng-model="profile.user_location"></p>
    </div>
  
  <div class="row btnssocial" id="psocial">
  	<div id="linkd" class="col first"><a ng-click="showtextsocial('user_lin_url')"></a></div>

		<div id="fb" class="col second"><a id="facebook" ng-click="showtextsocial('user_fb_url')"></a></div>
		<div id="twt" class="col third"><a id="twitter" ng-click="showtextsocial('user_twt_url')"></a></div>	
  </div>
  
  <div class="row textfieldssocial" id="psocial">
      <h4 id="user_lin_url" class="edittext" id="user_lin_text"><input ng-blur="updatesocial('user_lin_url')" type="text" ng-model="profile.user_linkin_url"></h4>

      <h4 id="user_fb_url" class="edittext" id="user_fb_text"><input ng-blur="updatesocial('user_fb_url')" type="text" ng-model="profile.user_fb_url"></h4>

      <h4 id="user_twt_url" class="edittext" id="user_twt_text"><input ng-blur="updatesocial('user_twt_url')" type="text" ng-model="profile.user_twt_url"></h4>
  </div>

  </ion-content>
</ion-view>
