<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="My Profile"><div class="ion-email"></div>
  <ion-content >
      <div id="profile-wrapper">
        <div id="profile" class="row">
      		<div class="col">
      			<img ng-src="{{profile.url}}" alt="" />
      		</div>
    	  	<div class="col col-75">
    		  	<h3 id="user_name">{{profile.user_name}} 

              <img class="editpencil" ng-src="./img/edit_pencil.png" ng-click="showtext('user_name')"></h3>

            <h3 class="edittext" id="user_name_text"><input ng-blur="updatedata('user_name')" type="text" ng-model="profile.user_name"></h3>

    		  	

    		  	<h4 id="user_description">

              {{profile.user_description}}

              <img ng-click="showtext('user_description')" class="editpencil" ng-src="./img/edit_pencil.png">
            </h4>

            <h4 id="user_description_text" class="edittext" id="user_name_text"><input ng-blur="updatedata('user_description')" type="text" ng-model="profile.user_description"></h4>
    			  <br/>
    		  <span class"pull-right">{{likes}}</span>
    		</div>  
      </div>  
	</div>  
  <div id="friend-list" class="row">
  	<div class="col"><a><img ng-src="./profile-pics/upload.png" alt="" /></a></div>
  	<div class="col"><a><img ng-src="./profile-pics/p1.jpg" alt="" /></a></div>
  	<div class="col"><a><img ng-src="./profile-pics/p2.jpg" alt="" /></a></div>  	
  </div>
  <div class="row">
    <h2 id="style">My Style</h2>
    <h3 id="style">Location</h3>
    </div>
    <div class="row">
       <p id="smile">{{profile.user_bio}} , {{profile.user_location}} </p>
    </div>
  
  <div class="row" id="psocial">
  	<div class="col first"><a ></a></div>
		<div class="col second"><a id="facebook"></a></div>
		<div class="col third"><a id="twitter"></a></div>	
  </div>
  </ion-content>
</ion-view>
